# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import pandas as pd 
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [7]:
df=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [8]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
# Display the number of missing values in each column
missing_data = df.isnull().sum()

# Print the result
print(missing_data)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
employee_type_counts = df['Salary or Hourly'].value_counts()

print(employee_type_counts)

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
department_counts = df['Department'].value_counts()

display(department_counts)

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [35]:
from scipy.stats import ttest_1samp

#H0: hourly wage = 30
#H1 hourly wage != 30

hourly_rates = df.loc[df['Salary or Hourly'] == 'Hourly', 'Hourly Rate'].dropna()
hourly_rates.head()

2     13.00
5     37.45
15    40.78
16    38.52
21    34.98
Name: Hourly Rate, dtype: float64

In [36]:
t_statistic, p_value = ttest_1samp(hourly_rates, 30)

print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 31.211500329216044
p-value: 3.825475847673794e-202

In [37]:
alpha = 0.05 #95% confidence level
if p_value < alpha:
    print("We reject H0")
    print("The hourly wage is significantly different from $30/hr.")
else:
    print("We can't reject H0")
    print("There is no significant difference in the hourly wage from $30/hr.")

We reject H0
The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [38]:
from scipy.stats import ttest_1samp

#H0: Salary <= 86000
#H1: Salary > 86000

# Extract salaries for police officers (excluding NaN values)
police_salaries = df.loc[(df['Department'] == 'POLICE') & (df['Salary or Hourly'] == 'Salary'), 'Annual Salary'].dropna()
police_salaries

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [39]:
# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(police_salaries, 86000)

# Since it's a one-sided test, we only consider the p-value/2
one_sided_p_value = p_value / 2

# Print the results
print("t-statistic:", t_statistic)
print("one-sided p-value:", one_sided_p_value)

t-statistic: 18.51748561981861
one-sided p-value: 6.119566952121482e-76

In [40]:
# Check if the one-sided p-value is less than 0.05 (significance level)
# If the p-value is low, H0 must go
alpha = 0.05
if one_sided_p_value < alpha and t_statistic > 0:
    print("The claim that police salaries are higher than $86,000/year is supported.")
else:
    print("There is not enough evidence to support the claim that police salaries are higher than $86,000/year.")

The claim that police salaries are higher than $86,000/year is supported.

Using the `crosstab` function, find the department that has the most hourly workers.

In [30]:
cross_tab = pd.crosstab(df['Department'], df['Salary or Hourly'])

max=cross_tab['Hourly'].idxmax()

# Print the result
print("Department with the most hourly workers:", department_with_most_hourly)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [31]:
streets_san_hourly_rates = df.loc[(df['Department'] == 'STREETS & SAN') & (df['Salary or Hourly'] == 'Hourly'), 'Hourly Rate'].dropna()

t_statistic, p_value = ttest_1samp(streets_san_hourly_rates, 35)

one_sided_p_value = p_value / 2

print("t-statistic:", t_statistic)
print("one-sided p-value:", one_sided_p_value)

alpha = 0.05
if one_sided_p_value < alpha and t_statistic < 0:
    print("The claim that hourly wage for workers in 'STREETS & SAN' is less than $35/hour is supported.")
else:
    print("There is not enough evidence to support the claim that hourly wage for workers in 'STREETS & SAN' is less than $35/hour.")

t-statistic: 4.000138803968834
one-sided p-value: 3.2902372218867895e-05
There is not enough evidence to support the claim that hourly wage for workers in 'STREETS & SAN' is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [33]:
from scipy.stats import t, sem

# Extract hourly rates for all hourly workers (excluding NaN values)
all_hourly_rates = df.loc[df['Salary or Hourly'] == 'Hourly', 'Hourly Rate'].dropna()

# Calculate the mean and standard error of the mean (SEM)
sample_mean = all_hourly_rates.mean()
standard_error = sem(all_hourly_rates)

# Set the confidence level and degrees of freedom
confidence_level = 0.95
degrees_freedom = len(all_hourly_rates) - 1

# Calculate the confidence interval
confidence_interval = t.interval(confidence_level, degrees_freedom, sample_mean, standard_error)

# Print the result
print("95% Confidence Interval for Mean Hourly Wage:", confidence_interval)

95% Confidence Interval for Mean Hourly Wage: (34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [34]:
from scipy.stats import t, sem

# Extract annual salaries for salaried employees in the police department (excluding NaN values)
police_salaries = df.loc[(df['Department'] == 'POLICE') & (df['Salary or Hourly'] == 'Salary'), 'Annual Salary'].dropna()

# Calculate the mean and standard error of the mean (SEM)
sample_mean = police_salaries.mean()
standard_error = sem(police_salaries)

# Set the confidence level and degrees of freedom
confidence_level = 0.95
degrees_freedom = len(police_salaries) - 1

# Calculate the confidence interval
confidence_interval = t.interval(confidence_level, degrees_freedom, sample_mean, standard_error)

# Print the result
print("95% Confidence Interval for Mean Annual Salary in Police Department:", confidence_interval)

95% Confidence Interval for Mean Annual Salary in Police Department: (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: